body
{
	background:radial-gradient(circle at center,rgb(231, 91, 113) 0%, pink 100%);
	font-family:monospace;
	display:flex;
	flex-direction:column;
}
#navigation
{
	position:sticky;
	top:0;
	background-color:white;
	z-index:1000;
}
#content
{
	margin:120px;
	/*border:1px solid black;*/
	display:flex;
	flex-direction:row;
}
#nbarid
{
	box-sizing:border-box;
}
.navbox
{
	/*border:1px solid black;*/
	margin-left:10px;
	margin-right:10px;
	display:flex;
	align-items:center;
	/*padding-left:10px;*/
	height:50px;
	justify-content:space-evenly;
}
#sidebar
{
	/*border:1px solid black;*/
}
header
{
	height:30px;
	font-size:16px;
	padding:10px;
}
.navbox>*
{
	padding:10px;
}

.dropdown
{
	position:relative;
	display:inline-block;
}
.dropdownbutton
{
	/*border:1px solid blue;*/
	display:inline;
	cursor:pointer;
	background-color:transparent;
	color:black;
	padding:16px;
	font-size:16px;
}
.dropdowncontent
{
	display:none;
	position:absolute;
	min-width:160px;
	padding:12px 16px;
	color:black;
	z-index:1;
}
.dropdowncontent a
{
	color:black;
	padding: 12px 16px;
	text-decoration:none;
	display:block;
	background-color:white;
}
.dropdowncontent a:hover
{
	background-color:red;
	font-weight:bold;
}
.dropdown:hover .dropdowncontent
{
	display:block;
}
.dropdown:hover .dropdownbutton
{
	border-radius:1rem;
	background-color:gold;
}
#GetStarted
{
	border-radius:1rem;
	background-color:yellow;
}
#SignIn
{
	border-radius:1rem;
	background-color:yellow;
}
